.FollowStats .apexcharts-canvas{
    margin: 0 auto;
}

.FollowStats{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.FollowStats .landscape{
    transform: rotate(90deg);
}