.Home {
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Home .pagination {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.Home .pagination>a.active-link{
    color: rgb(45, 45, 106);
}

.Home .flex-container{
    margin: 0 auto;
    display: flex;
    width: 80vw;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Home .filter-header{
    display: flex;
    justify-content: space-between;
}