.VacationCard:hover {
    background-image: linear-gradient(180deg, transparent, rgba(230, 230, 250, 0.75));
}
 
.VacationCard.expired {
    background-color: lightgrey;
}

:root {
    --card-padding-size: 1.5rem;
    --card-size: 250px;
}

.VacationCard .unfollow,
.VacationCard .follow {
    font-size: medium;
    text-align: center;
    position: absolute;
    width: var(--card-padding-size);
    height: var(--card-padding-size);
    right: 0;
    top: 0;
    color: whitesmoke;
    border-radius: 0 1rem 0 0;
}

.VacationCard .follow {
    background-color: #5a5a5a;
}

.VacationCard .unfollow {
    background-color: #003580;
}

.VacationCard .actions {
    font-size: large;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}

.VacationCard .del-btn {
    padding: 0;
    background-color: transparent;
    color: darkred;
}

.VacationCard .edit-btn {
    color: darkblue;
}

.VacationCard img {
    width: calc(var(--card-size) - 2*var(--card-padding-size));
    height: calc(var(--card-size) - 2*var(--card-padding-size));
    object-fit: cover;
}

.VacationCard .shadow-mask {
    position: absolute;
    top: var(--card-padding-size);
    left: var(--card-padding-size);
    width: calc(var(--card-size) - 2*var(--card-padding-size));
    height: calc(var(--card-size) - 2*var(--card-padding-size));
    opacity: .4;
    background: linear-gradient(0, #00000077, transparent, #00000077);
}

.VacationCard {
    position: relative;
    width: var(--card-size);
    padding: var(--card-padding-size);
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1ch;
    min-height: 325px;
}

.VacationCard>h3 {
    z-index: 3;
    color: white;
    /* box-shadow: 5px 5px black; */
    position: absolute;
    top: calc(var(--card-padding-size) - 0.25em);
    margin-left: 0.25ch;
}

.VacationCard .price {
    color: white;
    position: absolute;
    top: calc(var(--card-size) - var(--card-padding-size) - 1.25em);
    right: calc(var(--card-padding-size));
    font-weight: bold;
}

.VacationCard .dates {
    color: #555555;
    position: absolute;
    bottom: 3px;
}