.AddVacation>form {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 97%;
}

.AddVacation>form>.rs-picker {
    text-align: center;
    width: calc(min-content + 2em);
    margin: 0 auto;
}

.AddVacation>form>div>img {
    width: 100px;
    height: 100px;
}

.AddVacation>form .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5ch;
}

.AddVacation>a {
    position: absolute;
    top: 10px;
    right: 15px;
}